@page "/task-list/{id:int}"
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Models
@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.TagHelpers
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.TaskList.IndexModel
@{
    Model.SetErrorPage(Links.ProjectList.Index.Page);
    ViewData["Title"] = "Task List";
}

@section BeforeMain
{
   <a asp-page="@Model.ReturnPage"  class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}


    <partial name="_ErrorSummary" />


<partial name="_ProjectHeader" model="Model.SupportProject" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="prepare-project-doc">TaskList</h2>
        <p class="govuk-body">
            TaskList
        </p>
        <p class="govuk-body">Task List</p>
    </div>
</div>