@using Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.TagHelpers


@{
    var id = ViewContext.RouteData.Values["id"];
}
<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list govuk-!-margin-top-6">
        <li class="moj-sub-navigation__item">
            <sub-menu-link class="moj-sub-navigation__link"
                           asp-page="@Links.AboutTheSchool.Index.Page"
                           asp-route-id="@id">
                About The School
            </sub-menu-link>
        </li>
        <li class="moj-sub-navigation__item">
            <sub-menu-link class="moj-sub-navigation__link"
                           asp-page="@Links.TaskList.Index.Page"
                           asp-route-id="@id">
                Task list
            </sub-menu-link>
        </li>
    </ul>
</nav>