@page "/task-list/{id:int}/school-improvement-plan"
@using Microsoft.IdentityModel.Tokens
@model Dfe.RegionalImprovementForStandardsAndExcellence.Pages.TaskList.SchoolImprovementPlan.SchoolImprovementPlan

@{
    ViewData["Title"] = "School improvement plan";
}

@section BeforeMain
{
<a asp-page="@Model.ReturnPage" asp-route-id="@Model.ReturnId" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}
<partial name="_ProjectHeader" model="@Model.SupportProject" />


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="prepare-project-doc">School Improvement Plan</h2>
        <p class="govuk-body">
            These steps will help you create a document you can present to an advisory board, and
            record things like when the school improvement plan was template was sent.
        </p>
        <p class="govuk-body"> You can complete them in any order.</p>
    </div>
</div>