@page "/schools-requiring-improvement"
@using Microsoft.Extensions.Configuration
@model Dfe.RegionalImprovementForStandardsAndExcellence.Frontend.Pages.IndexModel
@inject IConfiguration Configuration

@{
    Layout = "_Layout";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-cy="select-heading">
            Schools requiring improvement
        </h1>
        <a asp-page="/WhichSchoolNeedsHelp" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-cy="create_new_conversion_btn">
            Create a new thing
        </a>
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="Shared/_ProjectListFilters" model="Model.Filters"/>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l" test-id="projectCount" data-cy="select-projectlist-filter-count">0 projects found</h2>
         <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects 0 </caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header app-!-width-three-fifths">Application information</th>
                    </tr>
                    </thead>
                <tbody class="govuk-table__body">
                @{
                   <partial name="Shared/_ProjectListRows" model="Model.SupportProjects" />
                }
                </tbody>
             </table>
        </div>
</div>