name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: "Choose an environment to deploy to"
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.inputs.environment }}

env:
  IMAGE_NAME: rise-app

jobs:
  set-env:
    name: Determine environment
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.var.outputs.environment }}
      release: ${{ steps.var.outputs.release }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: var
        run: |
          INPUT=${{ github.event.inputs.environment }}
          ENVIRONMENT=${INPUT:-"development"}
          RELEASE=${ENVIRONMENT,,}-`date +%Y-%m-%d`.${{ github.run_number }}
          echo "environment=${ENVIRONMENT,,}" >> $GITHUB_OUTPUT
          echo "release=${RELEASE}" >> $GITHUB_OUTPUT

  validate-packages:
    runs-on: windows-latest
    name: Package Validation
    permissions:
      contents: read
    needs: [ set-env ]
    steps:
      - name: Validate Packages
        uses: DFE-Digital/rsd-github-actions/.github/actions/validate-packages@v1.1.2
        with:
          environment: ${{ needs.set-env.outputs.environment }}

  build-import:
    name: Build & Import
    runs-on: ubuntu-24.04
    needs: [ set-env ]
    environment: ${{ needs.set-env.outputs.environment }}
    permissions:
      packages: write
      id-token: write
    strategy:
      matrix:
        stage: [
          "final",
          "initcontainer"
        ]
        include:
          - stage: "final"
            tag-prefix: ""
          - stage: "initcontainer"
            tag-prefix: "init-"
    steps:
      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/build@v5.0.0
        with:
          build-target: ${{ matrix.stage }}
          build-args: CI=true
          image-name: ${{ env.IMAGE_NAME }}
          tag-prefix: ${{ matrix.tag-prefix }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/import@v5.0.0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-acr-client-id: ${{ secrets.ACR_CLIENT_ID }}
          azure-acr-name: ${{ secrets.ACR_NAME }}
          image-name: ${{ env.IMAGE_NAME }}
          tag-prefix: ${{ matrix.tag-prefix }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID || '' }}
          AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION_ID || '' }}
          AZURE_ACR_CLIENT_ID: ${{ secrets.ACR_CLIENT_ID || '' }}

  deploy:
    name: Deploy
    needs: [ set-env, build-import ]
    runs-on: ubuntu-24.04
    environment: ${{ needs.set-env.outputs.environment }}
    permissions:
      id-token: write
    steps:
      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/deploy@v5.0.0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-aca-client-id: ${{ secrets.ACA_CLIENT_ID }}
          azure-aca-name: ${{ secrets.ACA_CONTAINERAPP_NAME }}
          azure-aca-resource-group: ${{ secrets.ACA_RESOURCE_GROUP }}
          azure-acr-name: ${{ secrets.ACR_NAME }}
          # annotate-release: true
          image-name: ${{ env.IMAGE_NAME }}
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID || '' }}
          AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION_ID || '' }}
          AZURE_ACA_CLIENT_ID: ${{ secrets.ACA_CLIENT_ID || '' }}

  create-tag:
    name: Tag and release
    needs: [ set-env, deploy ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Create tag
        run: |
          git tag ${{ needs.set-env.outputs.release }}
          git push origin ${{ needs.set-env.outputs.release }}

      - name: Create release
        uses: "actions/github-script@v7"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            try {
              await github.rest.repos.createRelease({
                draft: false,
                generate_release_notes: true,
                name: "${{ needs.set-env.outputs.release }}",
                owner: context.repo.owner,
                prerelease: false,
                repo: context.repo.repo,
                tag_name: "${{ needs.set-env.outputs.release }}",
              });
            } catch (error) {
              core.setFailed(error.message);
            }

  cypress-tests:
    name: Run Cypress tests
    needs: [ deploy, set-env ]
    if: needs.set-env.outputs.environment == 'test' || needs.set-env.outputs.environment == 'development'
    uses: ./.github/workflows/cypress-tests.yml
    with:
      environment: ${{ needs.set-env.outputs.environment }}
    secrets: inherit
